<div class="container">
  <div class="content">
    <h1>Allgemeine Geschäftsbedingungen</h1>

    <div>
      <h2>1. Geltung der AGB und Vertragsabschluss</h2>
      <p>
        1.1 Diese allgemeinen Geschäftsbedingungen (AGB) gelten für Kaufverträge mit Privatkunden
        und Unternehmen, die über die Webseite des Anbieters abgeschlossen werden.
      </p>
      <p>
        1.2		Die Bestellung wird vom Anbieter bestätigt. Der Vertrag ist abgeschlossen, sobald
        die Bestätigung beim Käufer eintrifft. Wenn die Bestätigung innert nützlicher Frist
        ausbleibt, betrachtet der Käufer das als Ablehnung der Bestellung.
      </p>
    </div>

    <div>
      <h2>2. Preise</h2>
      <p>
        2.1	Die Preise werden in CHF angegeben. Mehrwertsteuer sowie Bearbeitung sind inbegriffen.
        Versandkosten werden extra verrechnet.
      </p>
      <p>
        2.2	Der Anbieter behält sich das Recht vor, die Preise jederzeit zu ändern. Für die Kunden
        gelten die am Bestelldatum auf der Webseite veröffentlich
      </p>
    </div>

    <div>
      <h2>3. Zahlung</h2>
      <p>
        3.1	Der Kunde bezahlt die Bestellung mit seiner Kreditkarte. Akzeptiert werden Kreditkarten
        von MasterCard, Visa und American Express. Der Preis der Artikel wird an dem Tag
        verbucht, an dem die Bestellung aufgegeben wird.
      </p>
      <p>
        3.2	Bei verspäteter Zahlung wird der Anbieter höchstens zwei Mahnungen verschicken. Für die
        zweite Mahnung wird eine Gebühr von CHF 20.00 verrechnet. Bezahlt der Kunde dann nicht,
        werden betreibungsrechtliche Massnahmen eingeleitet. Schadenersatzforderungen sowie die
        Einforderung der Mahn- und Betreibungsgebühren bleiben vorbehalten.
      </p>
    </div>

    <div>
      <h2>4. Lieferbedingungen</h2>
      <p>
        4.1	Die Lieferung erfolgt so rasch wie möglich. Der Kunden wird per E-Mail über den Bestellstatus
        informiert. Sollte innerhalb von 5 Tagen der Kunde die Artikel nicht erhalten und auch keine
        Information erfolgen, ist der Kunde berechtigt, auf die Lieferung zu verzichten.
      </p>
      <p>
        4.2	Der Versand erfolgt ausschliesslich innerhalb der Schweiz.
      </p>
    </div>

    <div>
      <h2>5. Rücksendungen und Rücktrittsrecht</h2>
      <p>
        5.1	Die bestellten Artikel können innerhalb von 10 Tagen zurückgesendet werden, das
        Datum des Poststempels ist bei der Rückgabe verbindlich. Die Rücksendung erfolgt
        auf Kosten des Kunden.
      </p>
      <p>
        5.2	Für die Rücknahme müssen die Artikel in ungebrauchten Zustand sein, sonst
        kann der Artikel nicht zurückgegeben werden.
      </p>
    </div>

    <div>
      <h2>6. Eigentumsvorbehalt</h2>
      <p>
        Die Artikel bleiben bis zur Bezahlung des vollständigen Rechnungsbetrags
        durch den Konsumenten das Eigentum des Anbieters.
      </p>
    </div>

    <div>
      <h2>7. Haftung und Garantie</h2>
      <p>
        7.1	Der Käufer hat die gelieferten Artikel so rasch wie möglich zu prüfen und Mängel
        innerhalb von 10 Tagen zu melden. Die Leistung von Zahlungen gilt
        nicht als Verzicht auf Mängelrüge.
      </p>
      <p>
        7.2	Der Anbieter ist in keinem Fall gehalten zur Bezahlung von irgendeinem Schadenersatz
        an den Konsumenten oder andere, es sei denn, es handelt sich um Vorsatz
        oder grobe Fahrlässigkeit seitens des Anbieters.
      </p>
    </div>

    <div>
      <h2>8.Haftung für die Online-Verbindungen </h2>
      <p>
        8.1	Der Anbieter verpflichtet sich, in Systemen, Programmen usw., die ihm
        gehören und auf die er Einfluss hat, für Sicherheit nach aktuellem
        technischem Stand zu sorgen sowie die Regeln des Datenschutzes zu befolgen.
      </p>
      <p>
        8.2	Die Kunden haben für die Sicherheit der Systeme, Programme und Daten
        zu sorgen, die sich in ihrem Einflussbereich befinden. Die Kunden sollten
        in eigenem Interesse Passwörter und Benutzernamen gegenüber Dritten geheim halten.
      </p>
      <p>
        8.3	Der Anbieter haftet nicht für Mängel und Störungen, die er nicht
        zu vertreten hat, vor allem nicht für Sicherheitsmängel und Betriebsausfälle
        von Drittunternehmen, mit denen er zusammenarbeitet oder von denen er abhängig ist.
      </p>
      <p>
        8.4	Weiter haftet der Anbieter nicht für höhere Gewalt, unsachgemässes
        Vorgehen und Missachtung der Risiken seitens des Kunden oder Dritter,
        übermässige Beanspruchung, ungeeignete Betriebsmittel des Kunden oder
        Dritter, extreme Umgebungseinflüsse, Eingriffe des Kunden oder Störungen
        durch Dritte (Viren, Würmer usw.), die trotz der notwendigen aktuellen
        Sicherheitsvorkehrungen passieren.
      </p>
    </div>

    <div>
      <h2>9. Datenschutz</h2>
      <p>
        9.1	Die Daten des Kunden werden nur zur Erfüllung der Bestellung
        genutzt und nicht an Dritte weitergegeben.
      </p>
      <p>
        9.2	Löscht der Kunde sein Benutzerkonto werden alle Daten unwiderruflich gelöscht.
      </p>
    </div>

    <div>
      <h2>10.	Rechtsanwendung und Gerichtsstand</h2>
      <p>
        10.1	Für diese AGB gilt schweizerisches Recht, namentlich die Regelungen des OR.
      </p>
      <p>
        10.2	Für Klagen eines Kunden ist das Gericht am Wohnsitz
        oder Sitz einer der Parteien zuständig. Für Klagen des Anbieters
        ist das Gericht am Wohnsitz der beklagten Partei zuständig.
      </p>
    </div>

  </div>
</div>
