<div class="container">
  <div class="content">
    <h1>Rücksendung</h1>

    <div>
      <h2>Wie kann ich Artikel zurücksenden?</h2>
      <p>
        Du kannst alle nicht benötigten Artikel sorgfältig im Paket einpacken
        in dem du sie erhalten hast. Im Paket befindet sich eine Rücksendeetikette,
        diese klebst du über die alte Etikette und gibst das Paket am Postschalter
        auf. Fertig.
      </p>
    </div>

    <div>
      <h2>Wie lange kann ich die Artikel zurücksenden?</h2>
      <p>
        Nach erhalt des Pakets hast du 10 Tage Zeit die Artikel zurückzusenden.
        Das Paket muss innerhalb dieser Frist aufgegeben werden, damit
        du die Artikel zurücksenden kannst.
      </p>
    </div>

    <div>
      <h2>Wie viel kostet es die Artikel zurückzusenden?</h2>
      <p>
        Wenn du bei uns ein Kundenkonto hast kannst du die Artikel der ersten und
        zweiten Bestellung kostenlos zurücksenden. Ab der dritten Bestellung kostet
        eine Rücksendung CHF 7.00, dieser Betrag wird dir von der Rückerstattung abgezogen.
        <br>
        <br>
        Falls du die Artikel innerhalb von 3 Tagen zurücksendest, ist die Rücksendung kostenlos.
      </p>
    </div>

    <div>
      <h2>Kann ich die Artikel immer zurücksenden?</h2>
      <p>
        Du musst nicht begründen wieso du die Artikel nicht möchtest,
        sie müssen aber in einwandfreien Zustand sein.
        Das bedeutet die Artikel dürfen nicht getragen oder gewaschen werden.
        Sollte dies der Falls sein können wir die Artikel leider nicht zurücknehmen.
      </p>
    </div>

  </div>
</div>
