<div class="container">
  <div class="content">
    <div class="social">
      <a class="link" href="https://www.google.com/maps/place/Rippd+Clothing/@47.3476935,8.0511415,14.5z/data=!4m5!3m4!1s0x0:0x7141ea54dedb9c03!8m2!3d47.3563713!4d8.0565393">
        <div class="icon">
          <img src="https://storage.googleapis.com/rippdclothingassets/ContentPage/icons/google-maps.png" alt="">
        </div>
      </a>
      <a class="link" href="https://wa.me/41797592819">
        <div class="icon">
          <img src="https://storage.googleapis.com/rippdclothingassets/ContentPage/icons/WhatsAppLogo.png" alt="">
        </div>
      </a>
      <a class="link" href="https://www.facebook.com/rippd.ch/">
        <div class="icon">
          <img src="https://storage.googleapis.com/rippdclothingassets/ContentPage/icons/facebookIcon.png" alt="">
        </div>
      </a>
      <a class="link" href="https://www.instagram.com/rippd.clothing/">
        <div class="icon">
          <img src="https://storage.googleapis.com/rippdclothingassets/ContentPage/icons/instagramIcon.png" alt="">
        </div>
      </a>
    </div>
    <div class="info">
      <p routerLink="/lieferung">Lieferung</p>
      <p routerLink="/ruecksendung">Rücksendung</p>
      <p routerLink="/agb">AGB</p>
      <p routerLink="/impressum">Impressum</p>
    </div>
  </div>

</div>
