<div class="container">
  <div [formGroup]="colorSelectForm">
    <select formControlName="colorSelected" id="selectColor" class="controlButton" (change)="onSelectColor()">
      <option value="" disabled selected hidden>Choose Color</option>
      <option *ngFor="let color of colors" [ngValue]="color">{{color}}</option>
    </select>
  </div>
  
  <div [formGroup]="sizeSelectForm">
    <select formControlName="sizeSelected" id="selectSize" class="controlButton" (change)="onSelectSize()">
      <option value="" disabled selected hidden>Choose Size</option>
      <option *ngFor="let size of sizes" [ngValue]="size">{{size}}</option>
    </select>
  </div>
  
  <div [formGroup]="lengthSelectForm">
    <select formControlName="lengthSelected" id="selectLength" class="controlButton" (change)="onSelectLength()">
      <option value="" disabled selected hidden>Choose Length</option>
      <option *ngFor="let length of lengths" [ngValue]="length">{{length}}</option>
    </select>
  </div>
  
  <form [formGroup]="inventoryForm">
    <div formArrayName="inventory" class="inventoryGrid">
      <button type="button" (click)="onAddInventoryFormGroup()">Add inventory</button>
      <div *ngFor="let inventoryControl of inventoryFormArray.controls; let i = index"
           class="inventoryControl"
           [formGroupName]="'' + i">
        <label>
          Box:
          <input type="text" formControlName="box">
        </label>
        <label>
          Stück:
          <input type="number" formControlName="amount">
        </label>
        <button type="button" class="deleteButton" (click)="onDeleteFormArrayControl(inventoryFormArray, i)">X</button>
      </div>
    </div>
  </form>

  <button *ngIf="newInventoryItem" type="button" (click)="onCreateInventoryItem()">Create Inventory Item</button>
  <button *ngIf="!newInventoryItem" type="button" (click)="onSaveInventoryItem()">Save Inventory Item</button>
</div>

