<div class="container">
  <div class="content">

    <div class="contentBlock">
      <div class="image">
        <img src="https://storage.googleapis.com/rippdclothingassets/ContentPage/bannerSquare@750px.jpg" alt="Rippd Logo">
      </div>
      <div class="text">
        <h3 id="top">Online Shop</h3>
        <p>
          Ab sofort kannst du unsere Hemden auch bequem von zu Hause aus bestellen.
        </p>
        <div class="button" routerLink="/shop">
          <span>
            Zum Shop
          </span>
        </div>
      </div>
    </div>

    <div class="contentBlock">
      <div class="text">
        <h3>Athletische Passform</h3>
        <p>
          Unsere Hemden wurden für
          die spezifischen Ansprüche des
          V-Körper Typs entwickelt. Der
          verbreiterte Schulterbereich und
          die schlanke Taille sorgen für eine
          perfekte Passform.
        </p>
      </div>
      <div class="image">
        <img src="https://storage.googleapis.com/rippdclothingassets/ContentPage/vShapeBack%40750px.jpg" alt="Athletische Passform">
      </div>
    </div>


    <div class="contentBlock">
      <div class="image">
        <img src="https://storage.googleapis.com/rippdclothingassets/ContentPage/greyShirtFront%40750px.jpg" alt="Hohe Qualität">
      </div>
      <div class="text">
        <h3>Hohe Qualität</h3>
        <p>
          Wir legen besonderen Wert auf
          eine hohe Qualität. Alle Hemden
          werden in Europa genäht und es
          wird ausschliesslich hochwertiger
          Baumwollstoff verarbeitet.
        </p>
      </div>
    </div>


    <div class="contentBlock">
      <div class="text">
        <h3>Tragekomfort</h3>
        <p>
          Eine gute Passform sollte nicht
          auf Kosten des Komforts gehen.
          Der dehnbare Stoff und Kragen
          sorgen für einen optimalen
          Tragekomfort.
        </p>
      </div>
      <div class="image">
        <img src="https://storage.googleapis.com/rippdclothingassets/ContentPage/collarStretch%40750px.jpg" alt="Tragekomfort">
      </div>
    </div>

    <div class="contentBlock">
      <div class="image">
        <img src="https://storage.googleapis.com/rippdclothingassets/ContentPage/hemdFarben%40750px.jpg" alt="Farbpalette">
      </div>
      <div class="text">
        <h3>Farbpalette</h3>
        <p>
          Unsere Hemden sind in verschiedenen
          Farbkombinationen erhältlich.
          In unserem Sortiment haben wir 10
          einfarbige und 12 zweifarbige Hemden.
          So sollte für jeden Geschmack etwas dabei sein.
        </p>
      </div>
    </div>

  </div>
</div>
