

.navPlaceholder {
  height: 0;
}

.portraitNav {
  position: fixed;
  z-index: 11;
  left: 20px;
  right: 20px;
  bottom: 20px;
  display: grid;
  column-gap: 10px;
  grid-template-columns: 1fr auto auto;
  background-color: transparent;
}

.navItem {
  height: 60px;
  width: 60px;
  display: grid;
  align-items: center;
  justify-items: center;
  cursor: pointer;
  background-color: var(--accent-color);
  border-radius: 50%;

  & svg {
    width: 30px;
    height: 30px;
  }
}

.sideNav {
  position: fixed;
  z-index: 10;
  bottom: 100px;
  left: 20px;
  right: 20px;
  padding: 40px;
  display: grid;
  row-gap: 15px;
  border-radius: 20px;
  background-color: var(--background-color);

  & .button {
    height: 60px;
    background-color: var(--accent-color);

    & span {
      font-size: 1.2rem;
      color: white;
    }
  }
}

.sideNavBackground {
  position: absolute;
  z-index: 6;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}






