

@media (min-device-aspect-ratio: 6/5) {
  :host {
    display: flex;
    align-content: center;
  }

  .container {
    display: grid;
    grid-template-rows: 1fr auto;
    align-items: center;
    grid-row-gap: 2vw;
  }


  .contentContainer {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-row-gap: 2vw;
    align-items: center;
  }

  .content {
    display: grid;
    align-items: center;
    height: 18vw;
  }


  input {
    font-family: 'Open Sans', sans-serif;
    border: .01vw solid #a7a7a7;
    font-size: 1.1vw;
    padding: 1vw 2vw;

    &:focus {
      outline: none;
      border: .1vw solid #a7a7a7;
      padding: .9vw 1.9vw;
    }
  }


  label {
    font-family: 'Open Sans', sans-serif;
    display: block;
    font-size: 1vw;
  }


  p {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
  }


  .selectButtonGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1vw;

    & .selectButton {
      display: grid;
      width: 23.5vw;
      height: 3.5vw;
      justify-items: center;
      align-items: center;
      border: .01vw solid #b7b7b7;

      & span {
        font-family: 'Ubuntu', sans-serif;
        font-size: 1.2vw;
      }

    }
  }

  .selected {
    background-color: #b7b7b7;
  }

  .unselected {
    background-color: #e0e0e0;

    &:hover {
      background-color: #e9e9e9;
    }
  }


  .billingAddressContainer {
    display: grid;
    grid-row-gap: .5vw;
    justify-items: center;

    & .billingAddress {
      width: auto;
      display: grid;

      & p {
        font-size: 1.4vw;
      }
    }
  }


  .address {
    width: 48vw;
    display: grid;
    grid-row-gap: 1vw;
  }

  .addressLine {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 1vw;
  }


  .inputSmall {
    display: grid;
    width: 10.5vw;
  }

  .inputNormal {
    display: grid;
    width: 23.5vw;

  }

  .inputLarge {
    display: grid;
    width: 36.5vw;
  }

  .inputFull {
    display: grid;
    width: 48vw;
  }

  .controlButtonGrid {
    width: 48vw;
    height: 4vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    & .gridButton {
      display: grid;
      justify-items: center;
      align-items: center;
      border: .01vw solid #b7b7b7;


      & span {
        font-family: 'Ubuntu', sans-serif;
        font-size: 1.2vw;
      }
    }
  }

  .inactive {
    color: #a7a7a7;
    background-color: #eeeeee;

    &:hover {
      background-color: #eeeeee;
    }

    &:active {
      background-color: #eeeeee;
    };
  }

  .active {
    color: black;
    background-color: #bbddbb;

    &:hover {
      background-color: #bbeebb;
    }

    &:active {
      background-color: #bbddbb;
    };
  }

  .cancelButton {
    background-color: #ddbbbb;

    &:hover {
      background-color: #eebbbb;
    }

    &:active {
      background-color: #ddbbbb;
    };
  }

  .standardButton {
    background-color: #e0e0e0;

    &:hover {
      background-color: #e9e9e9;
    }

    &:active {
      background-color: #e0e0e0;
    };
  }
}

@media (max-device-aspect-ratio: 6/5) {
  :host {
    display: flex;
    align-content: center;
  }

  .container {
    display: grid;
    width: 92vw;
    grid-template-rows: 1fr auto;
    align-items: center;
    grid-row-gap: 8vw;
  }


  .contentContainer {
    display: grid;
    min-height: 60vw;
    grid-template-rows: auto 1fr;
    grid-row-gap: 4vw;
    align-items: center;
  }

  .content {
    display: grid;
    align-items: center;
  }


  input {
    font-family: 'Open Sans', sans-serif;
    border: .01vw solid #a7a7a7;
    font-size: 4vw;
    padding: 3vw 2vw;
  }


  label {
    font-family: 'Open Sans', sans-serif;
    display: block;
    font-size: 3vw;
  }


  p {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
  }


  .selectButtonGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1vw;
    justify-items: stretch;

    & .selectButton {
      display: grid;
      height: 10vw;
      justify-items: center;
      align-items: center;
      border: .01vw solid #b7b7b7;

      & span {
        font-family: 'Ubuntu', sans-serif;
        font-size: 3vw;
      }

    }
  }

  .selected {
    background-color: #b7b7b7;
  }

  .unselected {
    background-color: #e0e0e0;

    &:hover {
      background-color: #e9e9e9;
    }
  }


  .billingAddressContainer {
    display: grid;
    min-height: 30vw;
    grid-row-gap: .5vw;
    align-items: center;
    justify-items: center;

    & .billingAddress {
      display: grid;

      & p {
        font-size: 3.5vw;
      }
    }
  }


  .address {
    height: auto;
    display: grid;
    grid-row-gap: 1vw;
  }

  .addressLine {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 1vw;
  }


  .inputSmall {
    display: grid;
    width: 30vw;
  }

  .inputNormal {
    display: grid;
    width: 45vw;

  }

  .inputLarge {
    display: grid;
    width: 60vw;
  }

  .inputFull {
    display: grid;
    width: 92vw;
  }

  .controlButtonGrid {
    height: 12vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    & .gridButton {
      display: grid;
      justify-items: center;
      align-items: center;
      border: .01vw solid #b7b7b7;


      & span {
        font-family: 'Ubuntu', sans-serif;
        font-size: 3.5vw;
      }
    }
  }

  .inactive {
    color: #a7a7a7;
    background-color: #eeeeee;

  }

  .active {
    color: black;
    background-color: #bbddbb;

  }

  .cancelButton {
    background-color: #ddbbbb;

  }

  .standardButton {
    background-color: #e0e0e0;

  }
}
