<div class="container">
  <div class="content">
    <h1>Lieferung</h1>

    <div>
      <h2>Wie werden die Artikel versendet?</h2>
      <p>
        Wir versenden unsere Paket mit der schweizerischen Post als PostPac Priority.
        Die Versandkosten betragen CHF 9.00 unabhängig davon, wie viele Hemden du bestellst.
      </p>
    </div>

    <div>
      <h2>Wie lange dauert die Lieferung?</h2>
      <p>
        Wir machen dein Paket so schnell wie möglich versandfertig.
        Die Lieferzeit beträgt ungefähr 2 bis 3 Werktage.
      </p>
    </div>

    <div>
      <h2>Wann kommt mein Paket?</h2>
      <p>
        Sobald das Paket versandbereit ist erhälst du per E-Mail einen Link für die Paketverfolgung der Post.
        Es kann jedoch einen Moment dauern bis der Lieferstatus aktualisiert wird.
      </p>
    </div>



  </div>
</div>
