<div class="container">
  <div class="content">
    <h1>Impressum</h1>

    <div>
      <h2>Anschrift</h2>
      <p>
        Rippd GmbH
        <br>
        Lenzburgerstr. 50
        <br>
        5507 Mellingen
      </p>
    </div>

    <div>
      <h2>UID</h2>
      <p>CHE-153.320.484</p>
    </div>

    <div>
      <h2>Geschäftsführung</h2>
      <p>
        Sebastian Vischer
      </p>
    </div>

    <div>
      <h2>Kontakt</h2>
      <p>
        info@rippd.ch
        <br>
        079 759 28 19
      </p>
    </div>
  </div>
</div>
